@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Poppins", sans-serif;
}


/* news paper */

.picture_latest_normal {
    height: 210px;
    overflow: hidden;
    margin-bottom: 20px;

    img {
        max-height: max-content;
    }
}

.picture_latest_big img {
    height: 440px;
}

.picture_latest_big img,
.picture_latest_normal img,
.picture_latest_normal {
    border-radius: 10px;
}

.news-item .picture>img {
    min-height: 150px;
    object-fit: cover;
}


/* pagination */

.page-item {
    margin-right: 5px;
}

/* bỏ dâu tăng số */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Scrollbar */
.navbar::-webkit-scrollbar {
    /* background-color: #ffffff; */
    border: 1px solid #117c7c85;
    border-radius: 10px;
    height: 12px;
    box-shadow: 1px 1px 5px #9ef4f4 inset;
}

/* Change scrollbar thumb color to red */
.navbar::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, #FFE53B, #02d2d2);
    border-radius: 10px;
}


/* Orders Table */
.table-order_address,
.table-order_contact {
    font-size: 10px;
    color: #686868;
}

.action-cancel button {
    font-size: 12px;
    border: 1px solid #515154;
    background: none;
}

.action-cancel button:hover {
    background: black;
    color: #fff;
}

.free-ship {
    font-size: 12px;
}

.table-order_takenote {
    max-width: 120px;
    font-size: 12px;
}

.table-order {
    font-size: 14px;
}


/* css Error Message */
.alert_error_message {
    color: red;
    font-size: 13px;
}


/* css Cart */
.form_info-text {
    font-size: 13px;
}

#getCouponName {
    color: #c94c4c;
    font-size: 12px;
}